img {
  float: left;
}
div {
  width: 620px;
  padding: 410px;
  border: 205px solid purple;
  margin: 100;
}
body {
  background-color: lightblue;
}
div:hover {
  background-color: red;
}
img {
  position: relative;
  left: 300px;
  bottom: 200px;
  z-index: -2;
}


